<ion-header-bar class="bar-positive">
	<h1 class="title">codiv</h1>
</ion-header-bar>
<ion-side-menu-content>
	<ion-content>
		<div id="content">			
			<ion-slide-box on-slide-changed="slideHasChanged($index)" slide-interval="4000" auto-play="true" does-continue="true">
				<ion-slide ng-repeat="b in banner">
					<div class="flashBox" style="width:16rem;height:7.2rem;background:url({{b.img}}) center 0 no-repeat;text-align:center;background-size:16rem 7.2rem"></div>
				</ion-slide>
			</ion-slide-box>
			<ul>
				<li class="item stable-bg ">做题模式</li> 
			</ul>
			<ul class="list-tab">
				<li> <a ui-sref="#">模拟考试</a> </li>
				<li class="in-zj"> <a ui-sref="#">章节练习<i></i></a> </li>
				<li class="in-mr"> <a ui-sref="index.item">每日一练</a> </li>
				<li class="in-ln"> <a ui-sref="#">历年真题</a> </li>
			</ul>
		</div>
	</ion-content>
</ion-side-menu-content>
